* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgray;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: gold;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border: 4px solid red;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    z-index: 1;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    width: 50%;
}

#coluna-1, #coluna-2 {
    width: 50%;
    border: 1px solid black;
    flex: 1;
    flex-direction: column;
    margin: 4px;
    background-color: lightgreen;
    padding: 5px;
    font-weight: 400;
}

#pikachu, #squirtle  {
    float: left;
    margin: 5px;
}

footer {
    background-color: gold;
    height: 90px;
    text-align: center;
    padding-bottom: 10px;
    border: 2px solid red;
    font-weight: 800;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
}
